* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  box-sizing: border-box;
}
.padre {
  position: relative;
  border-radius: 10px;
  width: 60%;
  height: 60vh;
  background-color: #212955;
  box-sizing: border-box;
}
#no {
  position: absolute;
  width: 3rem;
  height: 2rem;
  top: 70%;
  right: 15%;
  background-color: #e63946;
  border: 0.02px solid black;
  border-radius: 10%;
}
#si {
  position: absolute;
  width: 3rem;
  height: 2rem;
  top: 70%;
  left: 15%;
  background-color: #06d6a0;
  border: 0.02px solid black;
  border-radius: 10%;
}
.text {
  position: relative;
  top: 45%;
  left: 5%;
  display: none;
  color:#ffffff;
}

h2 {
  margin: 0;
  text-align: center;
  color: #ffffff;
  padding-top: 2em;
}

@media (max-width: 800px) {
  .padre {
    width: 100%;
    height: 100%;
  }
  .centrar {
    height: 100vh;
  }
}
